[Unit]
Description=Taygete Omniversal
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/taygete_hivemind
Restart=always
RestartSec=1
LimitNOFILE=4096
MemoryMax=2G
CPUQuota=200%

[Install]
WantedBy=multi-user.target
